<ion-view title="Todo item" nav-transition="none" id="page5" style="background-color:#F0EFC9;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-close" ng-click="removeItem()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="todoItem-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{item.title}}</p>
    </div>
    <button id="todoItem-button4" ng-click="toggleFinished()" ng-show="item.finished==true" class="button button-assertive  button-block icon-left ion-alert-circled">Still unfinished</button>
    <button id="todoItem-button3" ng-click="toggleFinished()" ng-show="item.finished==false" class="button button-balanced  button-block icon-left ion-checkmark-circled">Item finished</button>
  </ion-content>
</ion-view>